@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

body {
	padding: 0;
	font-family: Rubic, sans-serif;
	font-size: 14px;
	background: #f6f9fb;
}

/* ===== Layout ===== */
.box-h {
	display: flex;
	flex-direction: row;
}
.box-v {
	display: flex;
	flex-direction: column;
}
.box-c {
	display: flex;
	align-items: center;
	justify-content: center;
}
.box-wrap { flex-wrap: wrap; }
.box-csb { justify-content: space-between; }
.box-cc { justify-content: center; }
.box-ic { align-items: center; }

ul {
	margin: 0;
	padding: 0;
}

h1 {
	margin-top: -15px; /* Sorry (@ozzik) */
}